/* register.styles.css */
.register_parent-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
  }
  
  .register_form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
  }
  
  .head-section h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .body-section {
    display: flex;
    flex-direction: column;
  }
  
  .body-section input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    padding: 10px;
    background-color: #d81d1da5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  body-section button:hover {
    background-color: #d81d1da5;
}
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  .login-section {
    margin-top: 10px;
    text-align: center;
  }
  
  .login-section a {
    color: #d81d1da5;
    text-decoration: none;
  }
  
/* Toast Message Styles */
.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #28a745;
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  font-size: 16px;
  animation: fadeInOut 3s ease-in-out;
}

/* Keyframes for Toast Fade-In and Fade-Out */
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-20px); /* Toast starts from above */
  }
  10% {
    opacity: 1;
    transform: translateY(0); /* Toast moves to its final position */
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(20px); /* Toast moves down before disappearing */
  }
}

